<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.yachtsidegroup.com/upload4mail/yachtside/k/w/l/c/u/KWLcu_4.jpg);">
  <div class="container" style="width: 900px;">
    <h1>Rent out your yacht, on your terms!</h1>
    <p>Make money when your not using your yacht, without the hastle with Yatchhub.</p>
      <div class = "">
        <%= form_with url: root_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter the name of a yacht, location or the starting date of your trip..."
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-secondary" %>
        <% end %>
      </div>
  </div>
</div>
<div class="cards">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing), style: "text-decoration: none;" do %>
      <div class="card-trip">
          <img src= <%= listing.image_url %> />
          <div class="card-trip-infos">
            <div>
              <h2><%= listing.title %></h2>
              <p><%= listing.address %></p>
            </div>
            <div>
              <h2 class="card-trip-pricing">£<%= listing.price %></h2>
              <span class="card-text"><i class="fa-solid fa-person"></i></span><span class="card-text"><%= listing.capacity %></span>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
