<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
  <% @listing.photos.each do |photo| %>
    <% if photo == @listing.photos.first %>
      <div class="carousel-item active">
        <%= cl_image_tag(photo.key, class: "show-image d-block w-100") %>
      </div>
    <% else %>
      <div class="carousel-item">
        <%= cl_image_tag(photo.key, class: "show-image d-block w-100") %>
      </div>
    <% end %>
  <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div class="show-banner">
    <h1><%= @listing.title %></h1>
    <p><%= @listing.boat_description %></p>
  </div>
<div class="d-flex p-3 justify-content-between">
  <div>
    <div class="card mx-3 p-2" style="width: 280px;">
      <h2 class="">Details:</h2>
      <div>
        <% @listing.average_rating.to_i.times do %>
          <i class="fa-solid fa-star fa-lg"></i>
        <% end %>
        <% (10 - @listing.average_rating.to_i).times do %>
          <i class="fa-regular fa-star fa-lg"></i>
        <% end %>
      </div>
      <div>
        <span class="card-text"><i class="fa-solid fa-location-dot fa-lg"></i></span><span class="card-text"> <%= @listing.address %></span>
      </div>
      <div>
        <span class="card-text"><i class="fa-solid fa-person fa-lg"></i></span><span class="card-text"> <%= @listing.capacity %></span>
      </div>
      <div class="d-flex justify-content-between">
        <div><span class="card-text"><i class="fa-solid fa-sterling-sign fa-lg"></i></span><span class="card-text"> <%= @listing.price %> per night</span></div>
        <% if @listing.user_id == current_user.id %>
          <%= link_to "Edit",listing_edit_path(@listing), Class: "btn btn-secondary", style: "width: 60px;" %>
        <% end %>
      </div>
    </div>
    <div style="width: 100%;" class="d-flex justify-content-end">
      <%= link_to "Book now!",new_listing_booking_path(@listing), Class: "btn btn-secondary m-3 btn-lg", style: "width: 100%;" %>
    </div>
    <div style="width: 100%;" class="d-flex justify-content-end">
      <%= link_to "Read reviews",listing_reviews_path(@listing), Class: "btn btn-light m-3 btn-lg", style: "width: 100%;" %>

    </div>
  </div>
  <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
