
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
  <% @booking.listing.photos.each do |photo| %>
    <% if photo == @booking.listing.photos.first %>
      <div class="carousel-item active">
        <%= cl_image_tag(photo.key, class: "show-image d-block w-100") %>
      </div>
    <% else %>
      <div class="carousel-item">
        <%= cl_image_tag(photo.key, class: "show-image d-block w-100") %>
      </div>
    <% end %>
  <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div class="show-banner">
    <h1><%= @booking.listing.title %></h1>
    <p><%= @booking.listing.boat_description %></p>
    <p style="color: #66ff00;"><i class="fa-solid fa-check"></i> Booked</p>
  </div>


<div class="d-flex p-3 justify-content-center">
  <div class="card m-3 p-2">
    <h2 class=""> Yacht details:</h2>
    <div>
      <% @booking.listing.average_rating.to_i.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
      <% (10 - @booking.listing.average_rating.to_i).times do %>
        <i class="fa-regular fa-star"></i>
      <% end %>
    </div>
    <div>
      <span class="card-text"><i class="fa-solid fa-location-dot"></i></span><span class="card-text"> <%= @booking.listing.address %></span>
    </div>
    <div>
      <span class="card-text"><i class="fa-solid fa-person"></i></span><span class="card-text"> <%= @booking.listing.capacity %></span>
    </div>
    <div>
      <span class="card-text"><i class="fa-solid fa-sterling-sign"></i></span><span class="card-text"> <%= @booking.listing.price %> per night</span>
    </div>
  </div>
  <div class="card m-3 p-2">
    <h2>Booking details:</h2>
    <h4>start of stay:</h4>
    <p><%= @booking.start_date %></p>
     <h4>End of stay:</h4>
    <p><%= @booking.end_date %></p>
    </button>
      <%= link_to "cancel this booking", booking_path(@booking), class: "btn btn-cancel rounded btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" } %>
      <%= link_to "Write a review ", new_booking_review_path(@booking), class: "btn btn-primary" %>
    </div>
  </div>
</div>
